.App {
  text-align: center;
}

.Block{
  display: block;
  max-width: 40%;
  margin: 0 auto;
}

.greenButton{
  padding: 10px;
  background-color: green;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.greenButton:hover{
  background-color: grey;
  cursor: pointer;
}

.yellowButton{
  padding: 10px;
  background-color: yellow;
  border: none;
  color: green;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.yellowButton:hover{
  background-color: grey;
  cursor: pointer;
  color: #fff;
}

.h1{
  color: green;
}


input{
  background-color: green;
  color: #fff;
}